@media(max-width: 700px){
    .textbox > h1 {
        font-size: 72.5px;
    }

    .textbox > p {
        font-size: 17px;
    }

    .textbox > .hero_btn1, .hero_btn2 {
        min-width: 150px;
        font-size: 17px;
        margin-top: 10%;
        border-radius: 17.5px;
        padding: 5px 2.5px;

    }

    .nav-links ul a {
        font-size: 15px;
    }

    #logo {
        min-width: 40px;
    }

    .nav-links ul li { 
        display: block;
    }

    .nav-links{ 
        position: absolute; 
        background: black; 
        height: 100%; 
        width: 200px; 
        position: absolute;
        top:0;
        right:0;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul { 
        padding: 30px;
    }

    nav {
        margin-top: 10px;

    }

    .contact > h2 {
        font-size: 30px;
    }

    .contact > h4 {
        font-size: 16px;
    }

    .namebox { 
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
    }
    .namebox > div  { 
        width: 100%;    
    }

    .contactbox { 
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
    }
    .contactbox > div  { 
        width: 100%;    
    }
    form {
        width: 70%;
    }
    .submit > button{ 
    width: 50%;
    }

    label { 
        font-size: 17px;
    }

    .submit > button{ 
        font-size: 17px;
    }

    footer {
        min-height: 80vh;
    }

    .footer-container{ 
        flex-direction: column;
    }

    .footer-container > ul { 
        width: 80%;
    }

    .footer-links > h4 { 
        margin-top: 20px;
        font-size: 15px;
    }

    li a { 
        font-size: 15px;
    }

    .store_contact > h4 {
        margin-top: 10px;
        font-size: 15px;
    }

    .store_contact > li {
        font-size: 15px;
    }

    .location > h4, li {
        font-size: 15px;
    }

    .location > h4{
        margin-top: 15px;
    }

    .social-media{ 
        margin: 20px 0;
    }
    .openhours > h1 {
        font-size: 45px;
    }
    .openhours > p { 
        font-size: 15px;
    }

    nav {
        min-width: 300px;
    }
}



/* For desktop */
@media (min-width: 1200px) {
    .container {
      max-width: 1200px;
    }
  }
  
  /* For laptop */
  @media (min-width: 768px) and (max-width: 1199px) {
    .container {
      max-width: 1024px;
    }
  }
  
  /* For tablet */
  @media (min-width: 480px) and (max-width: 767px) {
    .container {
      max-width: 768px;
    }
  }
  
  /* For mobile */
  @media (max-width: 479px) {
    .container {
      max-width: 320px;
    }
  }