*{
    margin: 0;
    padding: 0;
    max-width: 100vw;
}


.header { 
    min-height: 80vh;
    width: 100vw;
    background: url("../assets/kojiro_hero.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*===========NAVIGATION======================================*/
nav{ 
    display: flex; 
    padding: 1%;
    justify-content: space-between;
    align-items: center;
    width: 75vw;
    min-width: 375px;
}

.nav-links{
    display: none;
    flex: 1;
    text-align: right;
}

.nav-links ul li { 
    list-style: none;
    display: inline-block;
    padding: 8px 1%;
    position: relative;
}

.nav-links ul a { 
    text-decoration: none;

}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #EB6745;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

#logo {
    margin-top: 1vh;
    width: 3.5vw;
}

nav .fa{
    display: none;
}

nav .fa.fa-bars {
    margin-right: 0;
}

/*===========NAVIGATION====END=========================*/


/*===========HERO=======================================*/

.herobox { 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    min-width: 375px;
}

.textbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 75%;
    color: #fff;
}

.textbox > p { 
    padding-top: 30px;
}

.textbox > a {
    margin-top: 4%;
}


/*===========HERO=================END=====================*/


/*===========HERO=================BTN=====================*/

.hero_btn1{ 
    text-decoration: none;
    color: #fff;
    border: none; 
    border-radius: 3.5vw;
    padding: 1% 4.25%;
    background: #EB6745;
    position: relative;
    cursor: pointer;
    text-align: center;
    transition: 1s;
}

.hero_btn2{ 
    text-decoration: none;
    background: #fff;
    border: none; 
    border-radius: 3.5vw;
    padding: 1% 4.25%;
    color: #EB6745;
    position: relative;
    cursor: pointer;
    text-align: center;
    transition: 1s;

}

.hero_btn1:hover{ 
    background: #fff;
    color: #eb6745;
    border: solid #EB6745 1px; 

}

.hero_btn2:hover{ 
    background: #eb6745;
    color: #fff;
    border: solid #fff 1px; 
}

body { 
    padding: 0;
    margin: 0;
    width: 100vw;
    min-width: 375px;
}
/*============================END OF HERO==========================*/
/*============================OPEN HOURS============================*/

.openhours{
    padding: 5vh 0 ;
    min-height: 70vh;
    width: 100%;
    background: #E4DCCB;
    color:  #1E1E1E;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.openhours > h1 {
    font-size: 7vw;
    margin-bottom: 5vh;
}

.openhours > p {
    color:  #1E1E1E;
}


/*=========================CONTACTUS=================================*/


.contact { 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #1E1E1E;
    min-height: 60vh;
}


.contact > h2 {
    margin-top: 5%;
}

.contact > h4 {
    width: 70%;
    text-align: center;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}


form {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around ;
  }

.contact-inputs { 
    width: 75%;
    margin: 2.5% 0;
    padding: 2.5% 5%;
    border-radius: 20px;

}


form > button {
    text-decoration: none;
    color: #fff;
    border: none; 
    width: 40%;
    border-radius: 3.5vw;
    padding: 2% 4.25%;
    background: #EB6745;
    position: relative;
    cursor: pointer;
    text-align: center;
    transition: 1s;
    margin-bottom: 5vh;
    margin-top: 5vh;

}

.submit { 
    display: flex;
    justify-content: center;
    align-items: center;
}


.submit > button{ 
  font-size: 1vw;
}

.submit > button:hover{ 
    background: #fff;
    color: #eb6745;
    border: solid #fff 1px; 
}

#message {
    height: 10vh;
}


/*=====================================END OF CONTACT FORM=====================*/


/*========================FOOTER=====================================*/

footer{ 
    height: 25vh;
    background: #050505;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

footer > p { 
    font-size: 15px;
    margin-bottom: 10px;
}



.footer-container > ul { 
    width: 15%;
}
.footer-container{
    margin-top: 2.5%;
    display: flex;
    width: 80vw;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
}

.footer-links{
    width: 20%;
    list-style: none;
    display: flex;
    align-items: space-evenly;
    flex-direction: column;
}

.store_contact{
    list-style: none;
}

.location{
    list-style: none;
}

.footer-container > a > #logo { 
    width: 70px;
}

.social-media > a > i {
    font-size: 25px;
}

.social-media > a {
    margin: 0 10px;
}

.success-message {
    color: green;
    font-weight: bold;
}

.error-message {
    color: red;
    font-weight: bold;
}